<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/admin/plugins/element-ui/lib/theme-chalk/index.css}">
</head>
<style>
    .busi-goods-edit-main-page {
        min-width: 1080px;
        padding: 10px 30px 20px;
        background-color: #fff;
    }
    .base-info-line {
        display: flex;
        align-items: center;
    }
    .base-info-title {
        padding-left: 15px;
        border-left: 2px solid #477fff;
    }
    .base-info-hr {
        width: 88%;
        margin-left: 15px;
    }
    .goods-main-content {
        margin-top: 20px;
    }
    .row-line {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .row-line-with-intro {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .el-select {
        width: 32.8%;
    }
    .title-content {
        text-align: right;
        color: #333;
    }
    .intro-content {
        font-size: 14px;
        color: #999;
    }
     .red-span {
        color: #FF581A;
    }
     .mini-font {
         font-size: 12px;
         text-align: right;
     }
    .span-hide {
        visibility: hidden;
    }
    .specs-btn-area {
        display: flex;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
    }
    .specs-margin {
        margin: 25px 0;
    }
    .specs-btn-area img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .first-photo {
        width: 100px;
        height: 110px;
        margin-left: 10px
    }
    .first-photo-item {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ccc;
        color: #fff;
        font-size: 40px;
    }
    .first-photo-item > div {
        cursor: pointer;
    }
    .first-photo-item img {
        width: 100px;
        height: 110px;
    }
    .operator-btn-area {
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .el-input__prefix {
        display: flex;
        align-items: center;
    }
    .tag-span {
        display: inline-block;
        padding: 3px 12px 3px 20px;
        background-color: #477FFF;
        border-radius: 12.5px;
        margin-left: 5px;
        color: #fff;
    }
    .tag-span i {
        margin-left: 8px;
        cursor: pointer;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    .upload-line {
        line-height: 50px;
        background-color: #F5F6F8;
        font-size: 14px;
        padding-left: 20px;
    }
    .upload-line:hover {
        color: #477FFF;
    }
    .detail-content {
        padding: 20px;
        width: 100%;
        min-height: 200px;
        border: #F5F6F8 1px solid;
    }
    .detail-content-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detail-content-item > img {
        width: 90%;
        margin-bottom: 10px;
    }
    .detail-content-item p {
        width: 10%;
        text-align: center;
    }
    .detail-content-item p img {
        cursor: pointer;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!-- Content Header (图标header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div id="app" class="busi-goods-edit-main-page">
            <div class="base-info-line">
                <div class="base-info-title">基本信息</div>
                <div class="base-info-hr">
                    <hr/>
                </div>
            </div>
            <div class="goods-main-content">
                <el-row :gutter="20" class="row-line">
                    <el-col :span="3" :offset="3" class="title-content">
                        商品分类
                        <span class="red-span">*</span>
                    </el-col>
                    <el-col :span="15">
                        <el-select v-model="firstCateValue" placeholder="请选择" @change="handleCategoryChange">
                            <el-option
                                    v-for="item in firstCategory"
                                    :key="item.categoryId"
                                    :label="item.categoryName"
                                    :value="item.categoryId">
                            </el-option>
                        </el-select>
                        <el-select v-model="secondCateValue" placeholder="请选择" @change="handleCategoryChange">
                            <el-option
                                    v-for="item in secondCategory"
                                    :key="item.categoryId"
                                    :label="item.categoryName"
                                    :value="item.categoryId">
                            </el-option>
                        </el-select>
                        <el-select v-model="thridCateValue" placeholder="请选择">
                            <el-option
                                    v-for="item in thridCategory"
                                    :key="item.categoryId"
                                    :label="item.categoryName"
                                    :value="item.categoryId">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line">
                    <el-col :span="3" :offset="3" class="title-content">
                        商品名称
                        <span class="red-span">*</span>
                    </el-col>
                    <el-col :span="15">
                        <el-input placeholder="请填写商品名称" maxlength="60" show-word-limit v-model="goodsName"></el-input>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line">
                    <el-col :span="3" :offset="3" class="title-content">
                        商品简介
                        <span class="span-hide">*</span>
                    </el-col>
                    <el-col :span="15">
                        <el-input type="textarea" placeholder="请填写商品简介" maxlength="100" show-word-limit v-model="goodsIntro"></el-input>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line">
                    <el-col :span="3" :offset="3" class="title-content">
                        商品价格
                        <span class="red-span">*</span>
                    </el-col>
                    <el-col :span="3">
                        <el-input type="number" placeholder="原价" v-model="originalPrice">
                            <span slot="prefix" style="margin-left: 5px;">
                                ¥
                            </span>
                        </el-input>
                    </el-col>
                    <el-col :span="3">
                        <el-input type="number" placeholder="供货价" v-model="sellingPrice">
                             <span slot="prefix" style="margin-left: 5px;">
                                ¥
                            </span>
                        </el-input>
                    </el-col>
                    <el-col :span="1" class="mini-font">
                        <span>运费</span>
                    </el-col>
                    <el-col :span="3">
                        <el-input type="number" v-model="transitMoney">
                             <span slot="prefix" style="margin-left: 5px;">
                                ¥
                            </span>
                        </el-input>
                    </el-col>
                    <el-col :span="2" class="mini-font">
                        <span>库存</span>
                        <span class="red-span">*</span>
                    </el-col>
                    <el-col :span="3">
                        <el-input type="number" placeholder="可销售数量" v-model="stockNum"></el-input>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line-with-intro">
                    <el-col :span="3" :offset="3" class="title-content">
                        标签
                        <span class="span-hide">*</span>
                    </el-col>
                    <el-col :span="15">
                        <el-input v-model="tagInput" @change="handleTagChange">
                            <span slot="prefix" class="tag-span" v-for="(item,index) in tagList" :key="item.index">
                                {{item}}
                                <i class="el-icon-close" @click="delTag(index)"></i>
                            </span>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line">
                    <el-col :span="15" :offset="6" class="intro-content">
                        <span>回车添加标签，每个标签不超过4个字，最多3个产品标签</span>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line-with-intro" v-for="(item,index) in specsList" :key="item.index">
                    <el-col :span="3" :offset="3" class="title-content">
                        可选规格{{index+1}}
                        <span class="span-hide">*</span>
                    </el-col>
                    <el-col :span="6">
                        <el-input v-model="item.specsValue"></el-input>
                    </el-col>
                    <el-col :span="3" class="specs-btn-area" @click.native="delSpecs(index)">
                        <img th:src="@{/admin/image/del.png}" alt="">
                        <span style="color: #FD5F39;">删除</span>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line specs-margin">
                    <el-col :span="15" :offset="6" class="specs-btn-area" @click.native="addSpecs">
                        <img th:src="@{/admin/image/add-blue.png}" alt="">
                        <span style="color: #477FFF;">添加规格</span>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line-with-intro">
                    <el-col :span="3" :offset="3" class="title-content">
                        商品首图
                        <span class="red-span">*</span>
                    </el-col>
                    <div class="first-photo" v-for="(item,index) in goodsPhotoListShow" :key="index">
                        <div class="first-photo-item">
                            <el-upload
                                    class="icon-select"
                                    action="/api/file/uploadFile"
                                    :limit="5"
                                    :show-file-list="false"
                                    :on-success="function(response, file, fileList){handleSingleSuccess(response, file, fileList,index)}"
                            >
                                <div v-if="item==''">+</div>
                                <div v-else>
                                    <img :src="item"/>
                                </div>
                            </el-upload>
                        </div>
                    </div>
                </el-row>
                <el-row :gutter="20" class="row-line">
                    <el-col :span="15" :offset="6" class="intro-content">
                        <span>需上传4张图片，要求每张尺寸430*470，大小不超过1M,拍摄清晰</span>
                    </el-col>
                </el-row>
                <el-row :gutter="20" class="row-line">
                    <el-col :span="3" :offset="3" class="title-content">
                        图文详情
                        <span class="red-span">*</span>
                    </el-col>
                    <el-col :span="15">
                        <div class="upload-line">
                            <el-upload
                                class="icon-select"
                                action="/api/file/uploadMultipleFiles"
                                multiple
                                :limit="5"
                                :show-file-list="false"
                                :on-success="handleSuccess"
                            >
                                <span>
                                    <i class="el-icon-upload"></i>
                                    选择图片
                                </span>
                            </el-upload>
                        </div>
                        <div class="detail-content">
                            <div v-for="(item,index) in detailPhotoListShow" :key="item.index" class="detail-content-item">
                                <img :src="item"/>
                                <p>
                                    <img th:src="@{/admin/image/del.png}" alt="" @click="delDetailPhoto(index)"/>
                                </p>
                            </div>
                        </div>
                    </el-col>
                </el-row>
                <div class="operator-btn-area">
                    <el-button style="margin-right: 30px" @click="saveService('1')">暂存仓库</el-button>
                    <el-button type="primary" @click="saveService('2')">申请上架</el-button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/vue/dist/vue.js}"></script>
<!-- 引入组件库 -->
<script th:src="@{/admin/plugins/element-ui/lib/index.js}"></script>
<script th:inline="javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                baseUrl: "",
                goodsId: '',
                specsList:[],  // 规格列表
                tagList: [],   // 标签列表
                tagInput: '',
                goodsName: '',
                goodsIntro: '',
                originalPrice: '',
                sellingPrice: '',
                transitMoney: '',
                stockNum: '',
                goodsDetailContent: '',
                firstCategory: [],
                firstCateValue: '',
                secondCategory: [],
                secondCateValue: '',
                thridCategory: [],
                thridCateValue: '',
                // editor: '',
                detailPhotoList: [], // 图文详情中地址列表
                detailPhotoListShow: [], // 图文详情中完整地址列表
                goodsPhotoList: ['','','',''],
                goodsPhotoListShow: ['','','','']
            };
        },
        mounted() {
            this.baseUrl = window.localStorage.getItem("baseUrl");
            this.firstCategory = [[${firstLevelCategories}]] || '';
            this.secondCategory = [[${secondLevelCategories}]] || '';
            this.thridCategory = [[${thirdLevelCategories}]] || '';
            // 编辑反显的类别
            this.firstCateValue = [[${firstLevelCategoryId}]] || '';
            this.secondCateValue = [[${secondLevelCategoryId}]] || '';
            this.thridCateValue = [[${thirdLevelCategoryId}]] || '';
            var returnGoods = [[${goods}]];
            if(returnGoods) {
                this.goodsId = returnGoods.goodsId;
                this.goodsName = returnGoods.goodsName;
                this.goodsIntro = returnGoods.goodsIntro;
                this.originalPrice = returnGoods.originalPrice;
                this.sellingPrice = returnGoods.sellingPrice;
                this.transitMoney = returnGoods.transitMoney;
                this.stockNum = returnGoods.stockNum;
                if (returnGoods.tag) {
                    this.tagList = returnGoods.tag.split(',');
                }
                var specsTmp = [];
                if (returnGoods.goodsAttribute) {
                    specsTmp = returnGoods.goodsAttribute.split(',');
                }
                for (var i in specsTmp) {
                    this.specsList.push({specsValue: specsTmp[i]});
                }
                if (returnGoods.goodsDetailContent) {
                    this.detailPhotoList = returnGoods.goodsDetailContent.split(',');
                }
                for (var j in this.detailPhotoList) {
                    var tempPhotoUrl = this.baseUrl + this.detailPhotoList[j];
                    this.detailPhotoListShow.push(tempPhotoUrl);
                }
                var tempGoodPhotoList = [];
                if (returnGoods.goodsCarousel) {
                    tempGoodPhotoList = returnGoods.goodsCarousel.split(',');
                }
                this.goodsPhotoList = [];
                this.goodsPhotoListShow = [];
                for (var k in tempGoodPhotoList) {
                    this.goodsPhotoList.push(tempGoodPhotoList[k]);
                    var tempGoodsPhotoUrl = this.baseUrl + tempGoodPhotoList[k];
                    this.goodsPhotoListShow.push(tempGoodsPhotoUrl);
                }
            }
        },
        methods: {
            // 删除某个规格
            delSpecs(index) {
                this.specsList.splice(index, 1);
            },
            // 增加规格
            addSpecs() {
                this.specsList.push({specsValue: ''});
            },
            // 上传文件成功
            handleSuccess(res) {
                if (res.resultCode == "200") {
                    this.detailPhotoList.push(res.data);
                    var wholeUrl = this.baseUrl + res.data;
                    this.detailPhotoListShow.push(wholeUrl);
                } else {
                    this.$message.error("上传失败，" + res.msg);
                }
            },
            // 商品首图单张上传
            handleSingleSuccess(res,file,fileList,index) {
                if (res.resultCode == "200") {
                    this.$set(this.goodsPhotoList,index, res.data);
                    var wholeUrl = this.baseUrl + res.data;
                    this.$set(this.goodsPhotoListShow,index, wholeUrl);
                } else {
                    this.$message.error("上传失败，" + res.msg);
                }
            },
            delDetailPhoto(index) {
                var _this = this;
                this.$confirm('确定删除该图片吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function() {
                    _this.detailPhotoList.splice(index, 1);
                    _this.detailPhotoListShow.splice(index, 1);
                }).catch(function() {});
            },
            // 操作tag
            handleTagChange(val) {
                if(this.tagList.length < 3) {
                    this.tagList.push(val);
                } else {
                    this.$message.error('最多支持3个标签');
                }
                this.tagInput = '';
            },
            // 删除tag
            delTag(index) {
                this.tagList.splice(index, 1);
            },
            // 分类下拉值发生改变
            handleCategoryChange(val) {
                var _this = this;
                $.ajax({
                    url: '/admin/categories/listForSelect?categoryId=' + val,
                    type: 'GET',
                    success: function (result) {
                        if (result.resultCode == 200) {
                            if(result.data.secondLevelCategories) {
                                _this.secondCateValue = '';
                                _this.secondCategory = result.data.secondLevelCategories;
                            }
                            _this.thridCateValue = '';
                            _this.thridCategory = result.data.thirdLevelCategories;
                        } else {
                            _this.$message.error(result.message);
                        };
                    },
                    error: function () {
                        _this.$message.error('操作失败');
                    }
                });
            },
            // 申请上架或暂存仓库
            saveService(type) {
                var _this = this;
                if(!this.validateInput()) {
                    this.$message.error('请填写完整信息后重试');
                    return;
                }
                var url = '/admin/goods/save';
                var postTag = '';
                for(var i in this.tagList) {
                    if(postTag === '') {
                        postTag = this.tagList[i];
                    } else {
                        postTag = postTag + ',' + this.tagList[i];
                    }
                }
                var postGooodsAttribute = '';
                for(var j in this.specsList) {
                    if(postGooodsAttribute === '') {
                        postGooodsAttribute = this.specsList[j].specsValue;
                    } else {
                        postGooodsAttribute = postGooodsAttribute + ',' + this.specsList[j].specsValue;
                    }
                }
                var detailPhotoStr = '';
                for(var k in this.detailPhotoList) {
                    if(this.detailPhotoList.length === 1) {
                        detailPhotoStr = this.detailPhotoList[0][0];
                    } else if(detailPhotoStr === '') {
                        detailPhotoStr = this.detailPhotoList[k];
                    } else {
                        detailPhotoStr = detailPhotoStr + ',' + this.detailPhotoList[k];
                    }
                }
                var firstPhotoStr = this.goodsPhotoList[0];
                var otherPhotoStr = '';
                for(var x in this.goodsPhotoList) {
                    if(otherPhotoStr === '') {
                        otherPhotoStr = this.goodsPhotoList[x];
                    } else {
                        otherPhotoStr = otherPhotoStr + ',' + this.goodsPhotoList[x];
                    }
                }
                var data = {
//                    goodsId: this.goodsId,
                    goodsCategoryId: this.thridCateValue,
                    goodsName: this.goodsName,
                    goodsIntro: this.goodsIntro,
                    originalPrice: this.originalPrice,
                    sellingPrice: this.sellingPrice,
                    transitMoney: this.transitMoney,
                    stockNum: this.stockNum,
                    tag: postTag,
                    goodsAttribute: postGooodsAttribute,
                    goodsDetailContent: detailPhotoStr,
                    goodsSellStatus: type,
                    goodsCoverImg: firstPhotoStr,
                    goodsCarousel: otherPhotoStr
                }
                if(this.goodsId) {
                    data.goodsId = this.goodsId;
                    url = '/admin/goods/update';
                }
                $.ajax({
                    type: 'POST',//方法类型
                    url: url,
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.$message.success('操作成功');
                            window.location.href = "/admin/goods";
                            // window.open("/admin/goods", '_self');
                        } else {
                            _this.$message.error(result.message);
                        };
                    },
                    error: function () {
                        _this.$message.error('操作失败');
                    }
                });
            },
            // 验证必输字段
            validateInput() {
                if(this.thridCateValue === '' ||  this.goodsName === '' || this.originalPrice === '' || this.sellingPrice === '' ||
                        this.stockNum === '') {
                    return false;
                }
                return true;
            }
        }
    })
</script>
</body>
</html>
