<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/admin/plugins/element-ui/lib/theme-chalk/index.css}">
</head>
<style>
    body {
        background-color: #fbfbfb;
    }
    .content-wrapper {
        background: #fbfbfb;
    }
    .plat-goods-manage-main-page {
        padding: 0 30px;
    }

    .plat-goods-manage-main-page .query-condition-line {
        display: flex;
        justify-content: space-between;
    }

    .query-condition-line > div {
        width: 280px;
        margin-right: 15px;
    }

    .plat-goods-manage-main-page .query-condition-line label {
        font-size: 14px;
        margin-right: 5px;
        font-weight: normal;
        display: inline-block;
        width: 70px;
        text-align: right;
    }

    .el-select {
        width: 200px;
    }

    .el-input {
        width: 200px;
    }

    .cell .el-input {
        width: 80px;
    }
    .el-message-box .el-input {
        width: 100%;
    }
    .el-button.is-circle {
        padding: 5px;
        margin-left: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
    .bg-common {
        padding: 2px 5px;
        color: #fff;
    }
    .blue-bg {
        background-color: #477FFF;
    }
    .red-bg {
        background-color:#FE4C5F;
    }
    .green-bg {
        background-color: #1FC990;
    }
    .purple-bg {
        background-color: #FE9544;
    }
    .tab-line {
        margin-top: 30px;
        min-height: 440px;
    }
    .goods-operiton-line {
        color: #477FFF;
        text-align: right;
        margin: 15px 0;
        cursor: pointer;
    }
    .dialog-all-div {
        padding: 0px 10px 10px;
    }

</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!-- Content Header (图标header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div id="app" class="plat-goods-manage-main-page">
            <div class="query-condition-line">
                <div>
                    <label>系统分类</label>
                    <el-select v-model="categoryId" placeholder="请选择">
                        <el-option
                                v-for="item in sysTypeOptions"
                                :key="item.categoryId"
                                :label="item.categoryName"
                                :value="item.categoryId">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <label>商品状态</label>
                    <el-select v-model="goodsStatus" placeholder="请选择">
                        <el-option
                                v-for="item in statusOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <label>商品名称</label>
                    <el-input
                            placeholder="请输入商品名称"
                            v-model="goodsName">
                    </el-input>
                </div>
                <el-button type="primary" @click="queryTableData">搜索</el-button>
            </div>
            <div class="tab-line">
                <div class="goods-operiton-line" @click="addGoods">
                   <span>+</span>
                    新增商品
                </div>
                <el-table
                        ref="multipleTable"
                        :data="tableData"
                        tooltip-effect="dark"
                        stripe
                        style="width: 100%"
                        @sort-change="sortChange"
                        @selection-change="handleTableSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="goodsName"
                            label="商品名称"
                            align="center"
                            width="120">
                        <template slot-scope="scope">
                            <span style="color:#477FFF">{{scope.row.goodsName}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="sellingPriceShow"
                            label="供货价"
                            width="100"
                            align="center"
                            sortable="custom"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="stockNum"
                            label="库存"
                            align="center"
                            sortable="custom"
                            width="100"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="saleTotal"
                            label="销量"
                            align="center"
                            sortable="custom"
                            width="100"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="onlineTime"
                            label="上架时间"
                            sortable="custom"
                            align="center"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="priceShow"
                            label="状态"
                            align="center"
                            width="100"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <span v-if="scope.row.goodsStatusZYF=='仓库中'" class="bg-common red-bg">{{scope.row.goodsStatusZYF}}</span>
                            <span v-if="scope.row.goodsStatusZYF=='审核中'" class="bg-common blue-bg">{{scope.row.goodsStatusZYF}}</span>
                            <span v-if="scope.row.goodsStatusZYF=='销售中'" class="bg-common green-bg">{{scope.row.goodsStatusZYF}}</span>
                            <span v-if="scope.row.goodsStatusZYF=='下架中'" class="bg-common purple-bg">{{scope.row.goodsStatusZYF}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    v-if="scope.row.goodsStatusZYF=='仓库中'||scope.row.goodsStatusZYF=='审核中'"
                                    size="mini"
                                    type="primary"
                                    @click="editGoods(scope.row)">编辑商品
                            </el-button>
                            <el-button
                                    v-if="scope.row.goodsStatusZYF=='仓库中'"
                                    size="mini"
                                    type="primary"
                                    @click="handleUpdate('2', scope.row)">申请上架
                            </el-button>
                            <el-button
                                    v-if="scope.row.goodsStatusZYF=='销售中'"
                                    size="mini"
                                    type="danger"
                                    @click="handleUpdate('4', scope.row)">申请下架
                            </el-button>
                            <el-button
                                    v-if="scope.row.goodsStatusZYF=='下架中'"
                                    size="mini"
                                    type="primary"
                                    @click="handleUpdate('3', scope.row)">取消下架
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="text-align: center;padding: 20px 0;">
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            :page-size="pagesize"
                            :total="total"
                            @current-change="current_change">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/vue/dist/vue.js}"></script>
<!-- 引入组件库 -->
<script th:src="@{/admin/plugins/element-ui/lib/index.js}"></script>
<script th:inline="javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                goodsStatus: '', // 供应商
                categoryId: '', // 系统分类
                goodsName: '',
                statusOptions: [],
                sysTypeOptions: [],
                tableData: [],
                multipleSelection: [],
                total: 0,
                pagesize: 10,
                currentPage: 1,
                sortWord: '',
                sortType: ''
            };
        },
        mounted() {
            var _this = this;
            var statusObj = [[${goodsStatus}]] || {};
            Object.keys(statusObj).forEach(function(key){
                _this.statusOptions.push({label:key,value:statusObj[key]});
            });
            this.statusOptions.unshift({label: '',value: ''});
            this.sysTypeOptions = [[${firstLevelCategories}]] || '';
            this.sysTypeOptions.unshift({categoryId: '',categoryName: ""});
            this.queryTableData();
        },
        methods: {
            // 表格数据勾选修改
            handleTableSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 表格上排序方式发生改变
            sortChange(column) {
                if(column.prop.indexOf('sellingPrice') > -1) {
                    this.sortWord = 'sellingPrice';
                } else {
                    this.sortWord = column.prop;
                }
                if(column.order.indexOf('desc') > -1) {
                    this.sortType = 'desc';
                } else {
                    this.sortType = 'asc';
                }
                this.queryTableData();
            },
            // 换页
            current_change: function (currentPage) {
                this.currentPage = currentPage;
                this.queryTableData();
            },
            // 新增商品
            addGoods() {
                console.log('add goods');
            },
            // 编辑商品
            editGoods(valObj) {
              console.log('edit goods');
            },
            // 查询表格数据
            queryTableData() {
                var _this = this;
                $.ajax({
                    url: '/admin/goods/list?_search=true&nd=1587021247684&page=' + this.currentPage + '&limit=' + this.pagesize  +
                    '&goodsStatus=' + this.goodsStatus + '&categoryId=' + this.categoryId + '&goodsName=' + this.goodsName +
                    '&sidx=' + this.sortWord + '&order=' + this.sortType,
                    type: 'GET',
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.total = result.data.totalCount || 0;
                            for (var i in result.data.list) {
                                result.data.list[i].sellingPriceShow = '¥' + result.data.list[i].sellingPrice;
                                result.data.list[i].originalPriceShow = '¥' + result.data.list[i].originalPrice;
                                result.data.list[i].priceShowSpecial = '¥';
                                result.data.list[i].priceShow = '¥' + result.data.list[i].price;
                                result.data.list[i].profitShow = '¥' + result.data.list[i].profit;
                                result.data.list[i].profitInput = "";
                            }
                            _this.tableData = result.data.list || [];
                        } else {
                            _this.$message.error(result.message);
                        }
                        ;
                    },
                    error: function () {
                        _this.$message.error('操作失败');
                    }
                });
            },
            // 更改商品状态
            handleUpdate(status, valObj) {
                var postArr = [];
                var _this = this;
                postArr.push(valObj.goodsId);
                var postObj = {
                    ids: postArr,
                    msgOffline: '',
                    msgReject: ''
                }
                if(status === '4') { // 申请下架
                    this.$prompt('下架原因', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '我再想想',
                    }).then(function (value)  {
                        postObj.msgOffline = value.value;
                        _this.updateService(status, postObj);
                    }).catch(function () {});
                } else { // 取消下架或申请上架
                    _this.updateService(status, postObj);
                }
            },
            // 更改用户状态服务
            updateService(status, postObj) {
                var _this = this;
                $.ajax({
                    type: "PUT",
                    url: "/admin/goods/status/" + status,
                    contentType: "application/json",
                    data: JSON.stringify(postObj),
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.$message.success('操作成功');
                            _this.queryTableData();
                            if(status === '2') {
                                _this.$confirm('您的上架申请已经提交到平台管理员，请耐心等待或与业务对接人沟通', '提示', {
                                    confirmButtonText: '我知道了',
                                    type: 'success',
                                    showCancelButton: false
                                }).then(function () {
                                })
                            }
                        } else {
                            _this.$message.error(result.message);
                        }
                    }
                });
            }
        }
    })
</script>
</body>
</html>
