<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/admin/plugins/element-ui/lib/theme-chalk/index.css}">
</head>
<style>
    .plat-goods-manage-main-page {
        padding: 0 30px;
    }

    .plat-goods-manage-main-page .query-condition-line {
        display: flex;
        justify-content: space-between;
    }

    .query-condition-line > div {
        width: 280px;
        margin-right: 15px;
    }

    .plat-goods-manage-main-page .query-condition-line label {
        font-size: 14px;
        margin-right: 5px;
        font-weight: normal;
        display: inline-block;
        width: 70px;
        text-align: right;
    }

    .el-select {
        width: 200px;
    }

    .el-input {
        width: 200px;
    }

    .cell .el-input {
        width: 80px;
    }
    .el-message-box .el-input {
        width: 100%;
    }
    .el-button.is-circle {
        padding: 5px;
        margin-left: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .tab-line {
        margin-top: 30px;
        min-height: 440px;
    }

    .dialog-all-div {
        padding: 0px 10px 10px;
    }

</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!-- Content Header (图标header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div id="app" class="plat-goods-manage-main-page">
            <div class="query-condition-line">
                <div>
                    <label>供应商</label>
                    <el-select v-model="companyName" placeholder="请选择">
                        <el-option
                                v-for="item in compOptions"
                                :key="item.companyName"
                                :label="item.companyName"
                                :value="item.companyName">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <label>系统分类</label>
                    <el-select v-model="categoryId" placeholder="请选择">
                        <el-option
                                v-for="item in sysTypeOptions"
                                :key="item.categoryId"
                                :label="item.categoryName"
                                :value="item.categoryId">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <label>商品名称</label>
                    <el-input
                            placeholder="请输入商品名称"
                            v-model="goodsName">
                    </el-input>
                </div>
                <el-button type="primary" @click="queryTableData">搜索</el-button>
            </div>
            <div class="tab-line">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="待上架" name="waiton"></el-tab-pane>
                    <el-tab-pane label="待下架" name="waitdown"></el-tab-pane>
                    <el-tab-pane label="销售中" name="selling"></el-tab-pane>
                    <el-tab-pane label="已下架" name="havedown"></el-tab-pane>
                </el-tabs>
                <el-table
                        ref="multipleTable"
                        :data="tableData"
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="handleTableSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            label="商品名称"
                            align="center"
                            width="120">
                        <template slot-scope="scope">
                            <span style="color:#477FFF">{{scope.row.goodsName}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="companyName"
                            label="供应商"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="sellingPriceShow"
                            label="供货价"
                            width="100"
                            align="center"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            label="原价"
                            align="center"
                            width="100"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <span style="text-decoration: line-through;">{{scope.row.originalPriceShow}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="priceShow"
                            label="售价"
                            align="center"
                            width="100"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <span>{{scope.row.priceShow}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="平台利润" align="center">
                        <template slot-scope="scope">
                            <template v-if="activeName=='waiton'">
                                <el-input type="number" v-model="scope.row.profit" @change="calSale(scope.row)"></el-input>
                                <el-button type="success" icon="el-icon-check" circle @click="saveProfit(scope.row)"></el-button>
                            </template>
                            <span v-else>{{scope.row.profitShow}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            v-if="activeName!='waiton'"
                            prop="saleTotal"
                            label="销量"
                            width="80"
                            align="center"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            v-if="activeName=='waitdown'|| activeName=='havedown'"
                            prop="msgOffline"
                            label="下架原因"
                            width="100"
                            align="center"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column label="操作" align="center" v-if="activeName!='havedown'" width="180">
                        <template slot-scope="scope">
                            <el-button
                                    v-if="activeName=='waiton'"
                                    size="mini"
                                    @click="handleUpdate('3', scope.row)">上架
                            </el-button>
                            <el-button
                                    v-if="activeName=='waiton'"
                                    size="mini"
                                    type="danger"
                                    @click="handleUpdate('1', scope.row)">打回
                            </el-button>
                            <el-button
                                    v-if="activeName=='waitdown'|| activeName=='selling'"
                                    size="mini"
                                    type="primary"
                                    @click="handleUpdate('5', scope.row)">前端下架
                            </el-button>
                            <el-button
                                    v-if="activeName=='waitdown'|| activeName=='selling'"
                                    size="mini"
                                    type="primary"
                                    @click="handleUpdate('6', scope.row)">下架
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="text-align: center;padding: 20px 0;">
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            :total="total"
                            @current-change="current_change">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/vue/dist/vue.js}"></script>
<!-- 引入组件库 -->
<script th:src="@{/admin/plugins/element-ui/lib/index.js}"></script>
<script th:inline="javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                companyName: '', // 供应商
                activeName: 'waiton',
                categoryId: '', // 系统分类
                goodsName: '',
                compOptions: [],
                sysTypeOptions: [],
                tableData: [],
                multipleSelection: [],
                total: 0,
                pagesize: 10,
                currentPage: 1
            };
        },
        mounted() {
            this.compOptions = [[${companyList}]] || '';
            this.compOptions.unshift({companyName: ''});
            this.sysTypeOptions = [[${firstLevelCategories}]] || '';
            this.sysTypeOptions.unshift({categoryId: '',categoryName: ""});
            this.queryTableData();
        },
        methods: {
            // 切换标签页
            handleClick() {
                this.queryTableData();
            },
            calSale(valObj) {
                valObj.price = parseFloat(valObj.sellingPrice) + parseFloat(valObj.profit);
                valObj.priceShow = '¥' + valObj.price;
            },
            // 保存平台利润、售价
            saveProfit(valObj) {
                var postObj = {
                    goodsId: valObj.goodsId,
                    profit: valObj.profit,
                    price: valObj.price,
                }
                if(valObj.profit === '') {
                    return;
                }
                var _this = this;
                $.ajax({
                    type: "POST",
                    url: "/admin/goods/updatePrice",
                    contentType: "application/json",
                    data: JSON.stringify(postObj),
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.$message.success('保存成功');
                            _this.queryTableData();
                        } else {
                            _this.$message.error(result.message);
                        }
                    }
                });
            },
            // 表格数据勾选修改
            handleTableSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 换页
            current_change: function (currentPage) {
                this.currentPage = currentPage;
            },
            // 会员营业执照下载
            downloadCustom() {
                console.log('custom download');
            },
            // 查询供应商和系统分类下拉内容
            queryTableData() {
                var _this = this;
                $.ajax({
                    url: '/admin/goods/list?_search=true&nd=1587021247684&page=' + this.currentPage + '&limit=' + this.pagesize + '' + '&tab=' + this.activeName +
                    '&companyName=' + this.companyName + '&categoryId=' + this.categoryId + '&goodsName=' + this.goodsName,
                    type: 'GET',
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.total = result.data.totalCount || 0;
                            for (var i in result.data.list) {
                                result.data.list[i].sellingPriceShow = '¥' + result.data.list[i].sellingPrice;
                                result.data.list[i].originalPriceShow = '¥' + result.data.list[i].originalPrice;
                                result.data.list[i].priceShow = '¥' + result.data.list[i].price;
                                result.data.list[i].profitShow = '¥' + result.data.list[i].profit;
                                result.data.list[i].profitInput = "";
                            }
                            _this.tableData = result.data.list || [];
                        } else {
                            _this.$message.error(result.message);
                        }
                        ;
                    },
                    error: function () {
                        _this.$message.error('操作失败');
                    }
                });
            },
            handleUpdate(status, valObj) {
                var postArr = [];
                var _this = this;
                postArr.push(valObj.goodsId);
                var postObj = {
                    ids: postArr,
                    msgOffline: '',
                    msgReject: ''
                }
                var confimMsg = '';
                if (status === '5') {
                    confimMsg = '前端下架后，商品仍在处在销售中，但是用户端不可见';
                } else if (status === '6') {
                    confimMsg = '确定允许这些商品下架吗？如果商品仍在推荐位上，将影响用户购买';
                }
                if(status === '1') { // 打回
                    this.$prompt('打回原因', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '我再想想',
                    }).then(function (value)  {
                        postObj.msgReject = value.value;
                        _this.updateService(status, postObj);
                    }).catch(function () {});
                } else if (confimMsg === '') { // 上架
                    _this.updateService(status, postObj);
                } else { // 两种下架
                    this.$confirm(confimMsg, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '我再想想',
                        type: 'warning'
                    }).then(function () {
                        _this.updateService(status, postObj);
                    }).catch(function () {
                    });
                }
            },
            // 更改用户状态服务
            updateService(status, postObj) {
                var _this = this;
                $.ajax({
                    type: "PUT",
                    url: "/admin/goods/status/" + status,
                    contentType: "application/json",
                    data: JSON.stringify(postObj),
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.$message.success('操作成功');
                            _this.queryTableData();
                            if(status === '3') {
                                _this.$confirm('上架成功！可到运营管理页面对该商品进行推荐', '提示', {
                                    confirmButtonText: '我知道了',
                                    type: 'success',
                                    showCancelButton: false
                                }).then(function () {
                                })
                            }
                        } else {
                            _this.$message.error(result.message);
                        }
                    }
                });
            }
        }
    })
</script>
</body>
</html>
