<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/admin/plugins/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/platOrderManage.css}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!-- Content Header (图标header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div id="app" class="manage-main-page" v-cloak>
            <div class="query-condition-line">
                <div>
                    <label>订单状态</label>
                    <el-select v-model="orderStatus" placeholder="请选择">
                        <el-option
                                v-for="item in orderStatusArr"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <label>订单编号</label>
                    <el-input
                            placeholder="请输入订单编号"
                            v-model="orderId">
                    </el-input>
                </div>
                <el-button type="primary" @click="queryTableData" class="search-btn">搜索</el-button>
            </div>
            <div class="tab-line">
                <el-table
                        ref="multipleTable"
                        :data="tableData"
                        tooltip-effect="dark"
                        stripe
                        style="width: 100%"
                        @sort-change="sortChange"
                        :header-cell-style="{background:'#F5F6F8'}"
                        @selection-change="handleTableSelectionChange">
                    <el-table-column
                            prop="id"
                            label="订单编号"
                            align="center"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            label="商品名称"
                            align="center"
                            >
                        <template slot-scope="scope">
                            <div class="goods-name-line" v-for="item in scope.row.goods" :key="item.index">
                                <div style="width: 60%;color:#477fff;">{{item.goodName}}</div>
                                <div style="width: 40%;font-size: 10px;color: #999">
                                    ¥{{item.unitPrice}}×{{item.number}}
                                </div>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="totalPriceShow"
                            label="订单总价"
                            align="center"
                            width="80"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            label="平台减免"
                            align="center">
                        <template slot-scope="scope">
                            <div class="plat-deduct-line">
                                <el-input type="number" v-model="scope.row.cutDown" :disabled="scope.row.cutDownDis">
                                    <span slot="prefix" style="margin-left: 2px;">
                                        -¥
                                    </span>
                                </el-input>
                                <div>
                                    <img v-if="scope.row.status=='待支付'" th:src="@{/admin/image/success.png}" alt="" @click="cutDownService(scope.row)">
                                    <el-upload
                                            class="icon-select"
                                            action="/api/file/uploadFile"
                                            :limit="5"
                                            :show-file-list="false"
                                            :on-success="function(response, file, fileList){handleUploadSuccess(response, file, fileList,scope.row)}"
                                    >
                                        <img v-if="scope.row.status=='待支付'" th:src="@{/admin/image/photo.png}" alt="">
                                    </el-upload>
                                </div>
                            </div>
                            <div style="text-align: left;">
                                =¥{{scope.row.realPrice || ''}}
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="grossProfitShow"
                            label="毛利润"
                            align="center"
                            width="80"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="createTimeString"
                            label="下单时间"
                            sortable="custom"
                            align="center"
                            width="100"
                            >
                    </el-table-column>
                    <el-table-column
                            prop="userRemark"
                            label="用户备注"
                            align="center"
                            width="50"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            label="订单状态"
                            align="center"
                            width="80"
                            show-overflow-tooltip>
                        <template slot-scope="scope">
                            <span v-if="scope.row.status=='待发货'" class="bg-common blue-bg">{{scope.row.status}}</span>
                            <span v-else-if="scope.row.status=='待结算'" class="bg-common red-bg">{{scope.row.status}}</span>
                            <span v-else-if="scope.row.status=='待支付'||scope.row.status=='待收货'||scope.row.status=='待评价'" class="bg-common green-bg">{{scope.row.status}}</span>
                            <span v-else class="bg-common gray-bg" @click="operateOrder(scope.row)">{{scope.row.status}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="客户方"
                            align="center"
                            width="120">
                        <template slot-scope="scope">
                            <div class="blue-color">
                               {{scope.row.customerName}}
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="资源方"
                            align="center"
                            width="120">
                        <template slot-scope="scope">
                            <div class="blue-color">
                                {{scope.row.supplierName}}
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="text-align: center;padding: 20px 0;">
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            :page-size="pagesize"
                            :total="total"
                            @current-change="current_change">
                    </el-pagination>
                </div>
            </div>
            <!--退货申请/退货审核-->
            <el-dialog :visible.sync="applyMoralShow" width="45%" title="退货申请" center :close-on-click-modal="closeBtnShow">
                <div class="plat-return-goods-dia-area">
                    <div class="goods-info bold-word">{{refundApplyGoodsName}}</div>
                    <div class="common-line return-info">
                        <span class="bold-word">买家申请退货</span>
                        <span class="light-word">(购买数量{{refundApplyBuyNum}};退货数量{{refundApplyRetNum}})</span>
                    </div>
                    <div class="common-line">
                        <div class="common-title light-word">退货原因</div>
                        <div>{{refundApplyReason}}</div>
                    </div>
                    <div class="common-line bottom-padding">
                        <div class="common-title light-word">详细原因</div>
                        <div>{{refundApplyDetail}}</div>
                    </div>
                    <div v-if="!isApply">
                        <div class="common-line seperate-line">
                            <div class="common-title bold-word">卖家驳回</div>
                        </div>
                        <div class="common-line">
                            <div class="common-title light-word">驳回原因</div>
                            <div>{{refundApplyRejectReason}}</div>
                        </div>
                    </div>
                </div>
            </el-dialog>
            <!--退货申请/退货审核 end-->
            <!--包裹寄回中查看物流-->
            <el-dialog :visible.sync="checkExpressMoralShow" width="45%" title="包裹寄回中" center :close-on-click-modal="closeBtnShow">
                <div class="plat-return-goods-dia-area">
                    <div class="express-num">
                        <div class="express-title">
                            <img th:src="@{/admin/image/express.png}" />
                            退货中
                        </div>
                        <div class="express-no">
                            中通快递：7312 3356 3354 5789
                            <span class="copy-btn">复制</span>
                        </div>
                    </div>
                    <div class="express-info">
                        <el-timeline>
                            <el-timeline-item
                                    v-for="(activity, index) in activities"
                                    :key="index"
                                    :timestamp="activity.timestamp"
                            >{{activity.content}}</el-timeline-item>
                        </el-timeline>
                    </div>
                </div>
            </el-dialog>
            <!--包裹寄回中查看物流 end-->
            <!--待买家确认退款金额/买家申诉/退款明细-->
            <el-dialog :visible.sync="mutiMoralShow" width="45%" :title="mutiTitle" center :close-on-click-modal="closeBtnShow">
                <div class="plat-return-goods-dia-area">
                    <div class="light-word" style="text-align: center;margin-bottom: 15px">买卖双方协商一致，退款进行中</div>
                    <div class="bold-word">商家修改退款金额</div>
                    <div class="light-word bottom-padding">修改原因：丢失一件，另有一件包装破损影响二次销售</div>
                    <div class="common-line seperate-line">
                        <div class="mid-width-title light-word">退货商品全额</div>
                        <div>
                            180元
                        </div>
                    </div>
                    <div class="common-line">
                        <div class="mid-width-title light-word">扣款金额</div>
                        <div>
                            10元
                        </div>
                    </div>
                    <div class="common-line">
                        <div class="mid-width-title light-word">实际退款</div>
                        <div>
                            170元
                        </div>
                    </div>
                    <div class="common-line">
                        <div class="mid-width-title light-word">结算金额</div>
                        <div>
                            10元+未退货商品结算金额
                        </div>
                    </div>
                    <div class="common-line btn-area big-btn-width">
                        <el-button type="plain">打回商家重新填写</el-button>
                        <el-button type="primary">发起退款</el-button>
                    </div>
                </div>
            </el-dialog>
            <!--退货申请/退货审核 end-->
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/vue/dist/vue.js}"></script>
<!-- 引入组件库 -->
<script th:src="@{/admin/plugins/element-ui/lib/index.js}"></script>
<script th:src="@{/admin/dist/js/platOrderManage.js}"></script>
</body>
</html>
