<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/admin/plugins/element-ui/lib/theme-chalk/index.css}">
</head>
<style>
    body {
        background-color: #fbfbfb;
    }
    .content-wrapper {
        background: #fbfbfb;
    }
    .admin-user-manage-main-page {
        padding: 0 30px;
    }

    .admin-user-manage-main-page .query-condition-line {
        display: flex;
        justify-content: space-between;
    }

    .tab-line {
        margin-top: 30px;
        min-height: 440px;
    }

    .dialog-all-div {
        padding: 0px 10px 10px;
    }

    .dialog-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .dialog-content-line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .check-append {
        color: #477fff;
        line-height: 40px;
        margin-right: 10px;
        padding: 5px 10px;
        cursor: pointer;
        font-style: normal;
    }

    .dialog-content-label {
        width: 100px;
        text-align: right;
        margin-right: 15px;
    }

    .dialog-content-input {
        width: 350px;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains 图标content -->
    <div class="content-wrapper">
        <!-- Content Header (图标header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div id="app" class="admin-user-manage-main-page">
            <div class="query-condition-line">
                <div>
                    <el-select v-model="userType" placeholder="请选择" @change="queryTableData">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <el-input
                            placeholder="请输入内容"
                            prefix-icon="el-icon-search"
                            v-model="loginName"
                            @change="queryTableData">
                    </el-input>
                </div>
            </div>
            <div class="tab-line">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="待审核" name="first"></el-tab-pane>
                    <el-tab-pane label="正常用户" name="second"></el-tab-pane>
                    <el-tab-pane label="小黑屋" name="third"></el-tab-pane>
                </el-tabs>
                <el-table
                        ref="multipleTable"
                        :data="tableData"
                        tooltip-effect="dark"
                        style="width: 100%"
                        stripe
                        @selection-change="handleTableSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="loginName"
                            label="用户名"
                            align="center"
                            width="120">
                        <!--<template slot-scope="scope">{{ scope.row.date }}</template>-->
                    </el-table-column>
                    <el-table-column
                            prop="mdmCode"
                            label="MDM编码"
                            align="center"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="userTypeName"
                            label="用户类型"
                            width="100"
                            align="center"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            prop="contactType"
                            label="业务联系方式"
                            align="center"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column label="注册信息" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    v-if="activeName=='first'"
                                    size="mini"
                                    type="primary"
                                    @click="queryRegInfo(scope.row)">核对注册信息
                            </el-button>
                            <span v-else>{{scope.row.companyName}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="userStatusName"
                            label="用户状态"
                            align="center"
                            width="100"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    v-if="activeName=='first'"
                                    size="mini"
                                    @click="handleUpdate('1', scope.row)">通过
                            </el-button>
                            <el-button
                                    v-if="activeName=='first'"
                                    size="mini"
                                    type="danger"
                                    @click="handleUpdate('3', scope.row)">不通过
                            </el-button>
                            <el-button
                                    v-if="activeName=='second'"
                                    size="mini"
                                    type="danger"
                                    @click="handleUpdate('4', scope.row)">禁用
                            </el-button>
                            <el-button
                                    v-if="activeName=='third'"
                                    size="mini"
                                    type="primary"
                                    @click="handleUpdate('1', scope.row)">解除禁用
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="text-align: center;padding: 20px 0;">
                    <el-pagination
                            background
                            layout="prev, pager, next"
                            :total="total"
                            :page-size="pagesize"
                            @current-change="current_change">
                    </el-pagination>
                </div>
            </div>
            <!--dialog 区域-->
            <div>
                <!--商家模态框-->
                <el-dialog :visible.sync="busiMoralShow" width="45%" center>
                    <div class="dialog-all-div">
                        <div>
                            <div class="dialog-title">公司基本信息</div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">公司全称</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.companyName"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">纳税人识别号</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.taxNo"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">注册地址</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.address"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">营业执照</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.compLegalNo">
                                        <i slot="suffix" class="check-append" @click="downloadCustom">点击查看附件</i>
                                    </el-input>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dialog-title">联系人信息</div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">业务联系人</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.contactor"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">电话</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.contactorPhone"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">邮箱</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.contactorEmail"></el-input>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dialog-title">银行信息</div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">公司全称</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.companyName"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">银行账户</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.bankAccNo"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">开户行名称</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.bankName"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">开户行代码</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.bankCode"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">财务联系人</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.financer"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">财务联系电话</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.financerPhone"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">供应商承诺书</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.promiseUri">
                                        <i slot="suffix" class="check-append" @click="downloadCustom">点击查看附件</i>
                                    </el-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-dialog>
                <!--会员模态框-->
                <el-dialog :visible.sync="customMoralShow" width="45%" center>
                    <div class="dialog-all-div">
                        <div>
                            <div class="dialog-title">联系人信息</div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">业务联系人</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.contactor"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">联系电话</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.contactorPhone"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">联系邮箱</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.contactorEmail"></el-input>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dialog-title">收货地址</div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">收货地址</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.deliveryAddress"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">收货人</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.acceptor"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">联系电话</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.deliveryPhone"></el-input>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dialog-title">发票信息</div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">发票类型</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.taxTypeName"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">公司名称</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.companyName"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">纳税人识别号</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.taxNo"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">注册地址</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.address"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">注册电话</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.regCellphone"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">开户账号</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.bankAccNo"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">开户行</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.bankName"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">开户行代码</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.bankCode"></el-input>
                                </div>
                            </div>
                            <div class="dialog-content-line">
                                <div class="dialog-content-label">营业执照附件</div>
                                <div class="dialog-content-input">
                                    <el-input readonly v-model="regisInfoAll.compLegalNo">
                                        <i slot="suffix" class="check-append" @click="downloadCustom">点击查看附件</i>
                                    </el-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/vue/dist/vue.js}"></script>
<!-- 引入组件库 -->
<script th:src="@{/admin/plugins/element-ui/lib/index.js}"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                loginName: '',
                activeName: 'first',
                userType: '',
                options: [{
                    value: '',
                    label: '请选择'
                }, {
                    value: '04',
                    label: '供货用户'
                }, {
                    value: '02',
                    label: '采购用户'
                }],
                tableData: [],
                multipleSelection: [],
                total: 0,
                pagesize: 10,
                currentPage: 1,
                busiMoralShow: false, // 商家模态框
                customMoralShow: false, // 会员模态框,
                regisInfoAll: {}
            };
        },
        mounted() {
            this.queryTableData();
        },
        methods: {
            // 切换标签页
            handleClick() {
                this.queryTableData();
            },
            // 表格数据勾选修改
            handleTableSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 换页
            current_change: function (currentPage) {
                this.currentPage = currentPage;
                this.queryTableData();
            },
            // 会员营业执照下载
            downloadCustom() {
                console.log('custom download');
            },
            // 查询表格数据
            queryTableData() {
                var userStatus = 0;
                var _this = this;
                if (this.activeName === 'second') {
                    userStatus = 1;
                } else if (this.activeName === 'third') {
                    userStatus = 4;
                }
                $.ajax({
                    url: '/admin/users/list?page=' + this.currentPage + '&limit=' + this.pagesize + '' + '&userStatus=' + userStatus +
                    '&userType=' + this.userType + '&loginName=' + this.loginName,
                    type: 'GET',
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.total = result.data.totalCount || 0;
                            for (var i in result.data.list) {
                                if (result.data.list[i].userType === '02') {
                                    result.data.list[i].userTypeName = '采购用户';
                                } else if (result.data.list[i].userType === '04') {
                                    result.data.list[i].userTypeName = '供货用户';
                                }
                                if (result.data.list[i].userStatus == '0') {
                                    result.data.list[i].userStatusName = '待审核';
                                } else if (result.data.list[i].userStatus == '1') {
                                    result.data.list[i].userStatusName = '正常';
                                } else if (result.data.list[i].userStatus == '4') {
                                    result.data.list[i].userStatusName = '禁用';
                                }
                                result.data.list[i].contactType = result.data.list[i].contactor + '-' + result.data.list[i].contactorPhone;
                            }
                            _this.tableData = result.data.list || [];
                        } else {
                            _this.$message.error(result.message);
                        }
                        ;
                    },
                    error: function () {
                        _this.$message.error('操作失败');
                    }
                });
            },
            // 查询注册信息
            queryRegInfo(valObj) {
                var _this = this;
                $.ajax({
                    url: '/api/profile/info?userId=' + valObj.userId,
                    type: 'GET',
                    success: function (result) {
                        if (result.resultCode == 200) {
                            if (valObj.userType === '04') { // 审核商家信息
                                _this.busiMoralShow = true;
                            } else if (valObj.userType === '02') {
                                _this.customMoralShow = true;
                            }
                            result.data.deliveryAddress = result.data.deliveryProv + result.data.deliveryCity + result.data.deliveryArea + result.data.deliveryDetail;
                            result.data.taxTypeName = result.data.taxType === '01' ? '增值税发票' : '普通发票';
                            result.data.address = result.data.province + result.data.city + result.data.area + result.data.detail;
                            _this.regisInfoAll = result.data;
                        } else {
                            _this.$message.error(result.message);
                        }
                        ;
                    },
                    error: function () {
                        _this.$message.error('操作失败');
                    }
                });
            },
            // 更改用户状态 0-待审核 1-正常 2-锁定；3-审核不通过；4-禁用
            handleUpdate(status, valObj) {
                var postArr = [];
                var _this = this;
                postArr.push(valObj.userId);
                var confimMsg = '';
                if (status === '3') {
                    confimMsg = '此用户将无法正常登陆，需要修改注册信息后再次提交审核，请尽快与业务联系人沟通修改意见';
                } else if (status === '4') {
                    confimMsg = '确定禁用吗？禁用后此账户将不能登录';
                }
                if (confimMsg === '') {
                    this.updateService(status, postArr);
                } else {
                    this.$confirm(confimMsg, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '我再想想',
                        type: 'warning'
                    }).then(function () {
                        _this.updateService(status, postArr);
                    }).
                    catch(function () {});
                }
            },
            // 更改用户状态服务
            updateService(status, postArr) {
                var _this = this;
                $.ajax({
                    type: "POST",
                    url: "/admin/users/lock/" + status,
                    contentType: "application/json",
                    data: JSON.stringify(postArr),
                    success: function (result) {
                        if (result.resultCode == 200) {
                            _this.$message.success('操作成功');
                            _this.queryTableData();
                        } else {
                            _this.$message.error(result.message);
                        }
                    }
                });
            }
        }
    })
</script>
</body>
</html>
