<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<form id="form" name="form" action="https://zgateway.kjtpay.com/recv.do" method="post">
    <div th:each="item,userStat:${map}">
        <input type="hidden" th:name='${userStat.current.key}' th:id='${userStat.current.key}' th:value='${userStat.current.value}' />
    </div>
</form>
<script>
    var inputTexts = $('#form input[type="hidden"]');
    for(var i=0; i<inputTexts.length; i++){
        $(inputTexts[i]).val(encodeURIComponent( inputTexts[i].value));
    }
     document.getElementById("form").submit();
</script>
</body>
</html>