<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailian.ylwmall.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hailian.ylwmall.entity.order.OrderInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delivery_address" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="express_company" property="expressCompany" jdbcType="VARCHAR" />
    <result column="express_id" property="expressId" jdbcType="VARCHAR" />
    <result column="user_remark" property="userRemark" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="cut_down" property="cutDown" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="gross_profit" property="grossProfit" jdbcType="DECIMAL" />
    <result column="delivery_id" property="deliveryId" jdbcType="BIGINT" />
    <result column="buying_price" property="buyingPrice" jdbcType="DECIMAL" />
    <result column="real_price" property="realPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, update_time, create_time, delivery_address, express_company, express_id, 
    user_remark, customer_id, supplier_id, cut_down, total_price, gross_profit, buying_price, 
    real_price,delivery_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_order_orderinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_order_orderinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hailian.ylwmall.entity.order.OrderInfo" >
    insert into tb_order_orderinfo (id, status, update_time, 
      create_time, delivery_address, express_company, 
      express_id, user_remark, customer_id, 
      supplier_id, cut_down, total_price, 
      gross_profit, buying_price, real_price
      )
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deliveryAddress,jdbcType=VARCHAR}, #{expressCompany,jdbcType=VARCHAR}, 
      #{expressId,jdbcType=VARCHAR}, #{userRemark,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, 
      #{supplierId,jdbcType=INTEGER}, #{cutDown,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      #{grossProfit,jdbcType=DECIMAL}, #{buyingPrice,jdbcType=DECIMAL}, #{realPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hailian.ylwmall.entity.order.OrderInfo" >
    insert into tb_order_orderinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deliveryAddress != null" >
        delivery_address,
      </if>
      <if test="expressCompany != null" >
        express_company,
      </if>
      <if test="expressId != null" >
        express_id,
      </if>
      <if test="userRemark != null" >
        user_remark,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="cutDown != null" >
        cut_down,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="grossProfit != null" >
        gross_profit,
      </if>
      <if test="buyingPrice != null" >
        buying_price,
      </if>
      <if test="realPrice != null" >
        real_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryAddress != null" >
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressCompany != null" >
        #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="userRemark != null" >
        #{userRemark,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="cutDown != null" >
        #{cutDown,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="grossProfit != null" >
        #{grossProfit,jdbcType=DECIMAL},
      </if>
      <if test="buyingPrice != null" >
        #{buyingPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        #{realPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hailian.ylwmall.entity.order.OrderInfo" >
    update tb_order_orderinfo
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryAddress != null" >
        delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressCompany != null" >
        express_company = #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        express_id = #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="userRemark != null" >
        user_remark = #{userRemark,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="cutDown != null" >
        cut_down = #{cutDown,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="grossProfit != null" >
        gross_profit = #{grossProfit,jdbcType=DECIMAL},
      </if>
      <if test="buyingPrice != null" >
        buying_price = #{buyingPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        real_price = #{realPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hailian.ylwmall.entity.order.OrderInfo" >
    update tb_order_orderinfo
    set status = #{status,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      express_company = #{expressCompany,jdbcType=VARCHAR},
      express_id = #{expressId,jdbcType=VARCHAR},
      user_remark = #{userRemark,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      cut_down = #{cutDown,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      gross_profit = #{grossProfit,jdbcType=DECIMAL},
      buying_price = #{buyingPrice,jdbcType=DECIMAL},
      real_price = #{realPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="countForSupplier" resultType="java.lang.Integer"  parameterType="com.hailian.ylwmall.util.PageQueryUtil" >
    select
    count(1)
    from tb_order_orderinfo
    <where>
      <if test="id!=null and id!=''">
        and id = #{id}
      </if>
      <if test="status!=null and status!=''">
        and status = #{status}
      </if>
      <if test="supplierId!=null and supplierId!=''">
        and supplier_id = #{supplierId}
      </if>
      <if test="customerId!=null and customerId!=''">
        and customer_id = #{customerId},
      </if>
      <if test="beginTime!=null">
        and create_time > #{beginTime}
      </if>
      <if test="endTime!=null">
        and create_time &lt; #{endTime}
      </if>
    </where>
  </select>

  <select id="countForPlatform" resultType="java.lang.Integer"  parameterType="com.hailian.ylwmall.util.PageQueryUtil" >
    select
    count(1)
    from tb_order_orderinfo orders
    <where>
      <if test="id!=null and id!=''">
        and id = #{id}
      </if>
      <if test="status!=null and status!=''">
        and status = #{status}
      </if>
      <if test="beginTime!=null">
        and create_time > #{beginTime}
      </if>
      <if test="endTime!=null">
        and create_time &lt; #{endTime}
      </if>
    </where>
  </select>

  <select id="selectByPageForSupplier" parameterType="com.hailian.ylwmall.util.PageQueryUtil" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order_orderinfo
    <where>
      <if test="id!=null and id!=''">
        and id = #{id}
      </if>
      <if test="status!=null and status!=''">
        and status = #{status}
      </if>
      <if test="supplierId!=null and supplierId!=''">
        and supplier_id = #{supplierId}
      </if>
      <if test="customerId!=null and customerId!=''">
        and customer_id = #{customerId},
      </if>
      <if test="beginTime!=null">
        and create_time > #{beginTime}
      </if>
      <if test="endTime!=null">
        and create_time &lt; #{endTime}
      </if>
    </where>
    <if test="descOrAsc!=null and descOrAsc!=''">
      order by create_time ${descOrAsc}
    </if>
    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>

  <select id="selectByPageForPlatform" parameterType="com.hailian.ylwmall.util.PageQueryUtil" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order_orderinfo orders
    <where>
      <if test="id!=null and id!=''">
        and id = #{id}
      </if>
      <if test="status!=null and status!=''">
        and status = #{status}
      </if>
      <if test="beginTime!=null">
        and create_time > #{beginTime}
      </if>
      <if test="endTime!=null">
        and create_time &lt; #{endTime}
      </if>
    </where>
    <if test="descOrAsc!=null and descOrAsc!=''">
      order by create_time ${descOrAsc}
    </if>

    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>

  <select id="selectByPageForCustomer" parameterType="com.hailian.ylwmall.util.PageQueryUtil" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order_orderinfo
    <where>
      <if test="id!=null and id!=''">
        and id = #{id}
      </if>
      <if test="status!=null and status!=''">
        and status = #{status}
      </if>
      <if test="systemType!=null and systemType!=''">
        and system_type = #{systemType}
      </if>
      <if test="userId!=null and userId!=''">
        and customer_id = #{userId}
      </if>
    </where>
    order by create_time desc
    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>

  <update id="cutDownPrice" parameterType="com.hailian.ylwmall.entity.order.CutDownPriceParam">
    update tb_order_orderinfo set gross_profit = (total_price-cut_down-buying_price) ,real_price = (total_price-cut_down) where id = #{orderId}
  </update>

</mapper>