<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailian.ylwmall.dao.TbModuleDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hailian.ylwmall.entity.TbModuleDetail">
        <id column="id" property="id" />
        <result column="mod_id" property="modId" />
        <result column="goods_id" property="goodsId" />
        <result column="img_url" property="imgUrl" />
        <result column="jump_url" property="jumpUrl" />
        <result column="is_head" property="isHead" />
        <result column="mod_rank" property="modRank" />
        <result column="is_deleted" property="isDeleted" />
        <result column="desc1" property="desc1" />
        <result column="desc2" property="desc2" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>
    
    <resultMap id="detailListResultMap" type="com.hailian.ylwmall.dto.ModuleDetailRes" extends="BaseResultMap">
        <result column="goods_name" property="goodsName" />
        <result column="goods_intro" property="goodsIntro" />
        <result column="goods_carousel" property="goodsCarousel" />
        <result column="selling_price" property="sellingPrice" />
        <result column="profit" property="profit" />
        <result column="price" property="price" />
        <result column="original_price" property="originalPrice" />
    </resultMap>

    <resultMap id="simpleGoodsMapper" type="com.hailian.ylwmall.dto.GoodsSimpleDto" >
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_intro" property="goodsIntro" />
        <result column="goods_carousel" property="goodsCarousel" />
        <result column="selling_price" property="sellingPrice" />
        <result column="profit" property="profit" />
        <result column="price" property="price" />
        <result column="original_price" property="originalPrice" />
    </resultMap>

    <select id="getModultProduct"  resultMap="detailListResultMap">
        SELECT
        md.*,
        g.`goods_name`,
        g.`goods_intro`,
        g.`selling_price`,
        g.`price`,
        g.`original_price`,
        g.`profit`
        FROM
        tb_module_detail md
        left JOIN tb_goods_info g
        ON md.`goods_id` = g.`goods_id` and g.goods_sell_status=3
        where md.is_deleted=0
        <if test="moduleId != null and moduleId>0">
            and md.mod_id =#{moduleId}
        </if>
        order by md.is_head desc, md.mod_rank desc
        <if test="limitNum>0">
            limit #{limitNum}
        </if>
    </select>

    <select id="getProductByModule"  resultMap="simpleGoodsMapper"
            parameterType="com.hailian.ylwmall.dto.GoodsQueryDto">
        SELECT
        g.`goods_id`,
        g.`goods_name`,
        g.`goods_intro`,
        g.`selling_price`,
        md.img_url as 'goods_carousel',
        g.`price`,
        g.`original_price`,
        g.`profit`
        FROM
        tb_module_detail md
        JOIN tb_goods_info g
        ON md.`goods_id` = g.`goods_id`
        where md.is_deleted=0 and g.goods_sell_status=3 and md.mod_id =#{dto.moduleId}
        <if test="dto.goodsName != null and dto.goodsName != ''">
            and  g.goods_name LIKE CONCAT('%',#{dto.goodsName},'%')
        </if>
        <if test="dto.category != null and dto.category != 0">
            and g.goods_category_id = #{dto.category}
        </if>
        <if test="dto.dispStock ">
            and g.stock_num>0
        </if>
        order by ${dto.orderby}
    </select>

    <select id="getSimpleGoods"  resultMap="simpleGoodsMapper"
        parameterType="com.hailian.ylwmall.dto.GoodsQueryDto">
        SELECT
        goods_id,
        goods_name,
        goods_cover_img as 'goods_carousel',
        goods_intro,
        selling_price,
        price,
        original_price,
        profit
        FROM tb_goods_info
        where goods_sell_status=3
        <if test="dto.goodsName != null and dto.goodsName != ''">
            and goods_name LIKE CONCAT('%',#{dto.goodsName},'%')
        </if>
        <if test="dto.category != null and dto.category != 0">
            and goods_category_id = #{dto.category}
        </if>
        <if test="dto.dispStock ">
            and stock_num>0
        </if>
        order by ${dto.orderby}
    </select>

    <select id="getModuleDetailList" parameterType="map" resultMap="detailListResultMap">
        SELECT
        md.*,
        g.`goods_name`,
        g.`selling_price`,
        g.`profit`
        FROM
        tb_module_detail md
        LEFT JOIN tb_goods_info g
        ON md.`goods_id` = g.`goods_id`
        <where>
            <if test="modId != null and modId != ''">
                and md.mod_id = #{modId}
            </if>
        </where>
        ORDER BY md.is_head DESC, md.mod_rank DESC
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getModuleDetailCount" parameterType="map" resultType="int">
        SELECT
        count(1)
        FROM
        tb_module_detail md
        LEFT JOIN tb_goods_info g
        ON md.`goods_id` = g.`goods_id`
        <where>
            <if test="modId != null and modId != ''">
                and md.mod_id = #{modId}
            </if>
        </where>
    </select>
</mapper>
