<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailian.ylwmall.dao.TbOrderPayDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hailian.ylwmall.entity.TbOrderPay">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="trade_no" property="tradeNo" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_type" property="payType" />
        <result column="token_id" property="tokenId" />
        <result column="pay_token" property="payToken" />
        <result column="pay_time" property="payTime" />
        <result column="payconfirm_time" property="payconfirmTime" />
    </resultMap>

</mapper>
