<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailian.ylwmall.dao.TbOrderGoodinfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hailian.ylwmall.entity.TbOrderGoodinfo">
        <id column="order_id" property="orderId" />
        <result column="good_id" property="goodId" />
        <result column="number" property="number" />
        <result column="goods_attr" property="goodsAttr" />
    </resultMap>

</mapper>
