<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.TbSettleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.TbSettle">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="settle_no" property="settleNo" />
        <result column="settle_name" property="settleName" />
        <result column="begin_period" property="beginPeriod" />
        <result column="end_period" property="endPeriod" />
        <result column="amount" property="amount" />
        <result column="supplier_id" property="supplierId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="SettleMap" type="ltd.newbee.mall.dto.UnSettleListDto">
        <id column="order_id" property="orderId" />
        <result column="buying_price" property="buyingPrice" />
        <result column="cut_down" property="cutDown" />
        <result column="goods_name" property="goodsName" />
        <result column="price" property="price" />
        <result column="user_name" property="userName" />
        <result column="sup_name" property="supName" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="querySettleList" resultMap="SettleMap" >
        select oi.id, oi.buying_price,oi.cut_down,
        gi.goods_name, gi.price, og.number as 'sale_num', oi.create_time, tu.login_name as 'user_name',
        tus.login_name as 'sup_name',tus.user_id
        from tb_order_orderinfo oi
        join tb_order_goodinfo og on oi.id=og.order_id
        join tb_goods_info gi on og.good_id=gi.goods_id
        join tb_user tu on oi.customer_id=tu.user_id
        join tb_user tus on oi.supplier_id=tus.user_id and oi.supplier_id=#{supplierId}
        where oi.status=06
        and oi.create_time >= #{startDate}
        and<![CDATA[ oi.create_time = <= #{endDate} ]]>
    </select>


</mapper>
