<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.TbSettleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.TbSettle">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="settle_no" property="settleNo" />
        <result column="settle_name" property="settleName" />
        <result column="begin_period" property="beginPeriod" />
        <result column="end_period" property="endPeriod" />
        <result column="amount" property="amount" />
        <result column="supplier_id" property="supplierId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
