<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.TbUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.TbUser">
    <id column="user_id" property="userId" />
    <result column="nick_name" property="nickName" />
    <result column="login_name" property="loginName" />
    <result column="password_md5" property="passwordMd5" />
    <result column="introduce_sign" property="introduceSign" />
    <result column="address" property="address" />
    <result column="cellphone" property="cellphone" />
    <result column="user_type" property="userType" />
    <result column="user_status" property="userStatus" />
    <result column="check_msg" property="checkMsg" />
    <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="UserListMapper" type="ltd.newbee.mall.dto.UserListDto">
        <id column="user_id" property="userId" />
        <result column="login_name" property="loginName" />
        <result column="user_type" property="userType" />
        <result column="user_status" property="userStatus" />
        <result column="company_name" property="companyName" />
        <result column="contactor" property="contactor" />
        <result column="contactor_phone" property="contactorPhone" />
        <result column="mdm_code" property="mdmCode" />
    </resultMap>

    <select id="queryUser" resultMap="UserListMapper"
            parameterType="ltd.newbee.mall.dto.UserListDto">
        select tu.user_id, tu.login_name,tu.user_type,tu.user_status,'' as mdm_code,
        tup.company_name,tup.contactor,tup.contactor_phone from tb_user tu
        join tb_user_profile tup on tu.user_id=tup.user_id
        where user_type in('02','04')
            <if test='dto.loginName!=null and dto.loginName!=""'>
                and tu.login_name like CONCAT('%',#{dto.loginName},'%')
            </if>
            <if test='dto.userType!=null and dto.userType!=""'>
                and tu.user_type=#{dto.userType}
            </if>
            <if test='dto.userStatus!=null'>
                and tu.user_status=#{dto.userStatus}
            </if>

    </select>


    <update id="updateUserStatus">
        update tb_user
        set user_status=#{userStatus} where user_id in
        <foreach item="id" collection="userIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
